html{
	scroll-behavior: smooth;
}
*{ margin:0; padding:0; box-sizing:border-box; font-family: 'Source Sans Pro', ;}
a{text-decoration:none; }
a:hover{text-decoration: none;}
li{list-style: none;}
p{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}
i{
	color: 2fccd0;
}
hr{
	border: 1px solid black;
}
/* ************************navbar********************* */
.navbar{
	width: 100%;;
	height: 100px;
	
}


.navbar-brand{
	font-weight: 700;
	font-size: 2em;
	color:black;
	letter-spacing: 0.1em;
	
	
	
}
.navbar-brand:hover{
		color: #000;
}
.navbar-nav li a{
	font-weight: 600!important;
	color: black!important;	
	font-size: 1.1em;;
}

.navbar-nav li a:hover{
	font-weight: 600;
	color: #50d1c0!important;	
}
.header-part{
	height: auto;
	width: 100%;
	background-image: url("../image/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.header-part1{
	position: relative;
	top: 250px;
	left: 50%;
	transform: translate(-50%,-50%);

}
.header-part1 h2{
	font-size: 2.5rem;
	font-weight: bold;
}

.header-part1 h1{
	font-size: 3rem;
	font-weight: bold;
}
.header-part1 h3{
	font-size: 2rem;
	font-weight: 600;
}
.header-part1 input{
	margin-top: 30px;
	padding: 10px 20px;
	background-color:slateblue;
	border: 2px solid slateblue;
	border-radius: 10px;
	color: white;
	font-weight: bold;

}
.header-part1 input:hover{
	background-color: white;
	color: black;
	border: 2px solid slateblue;
}
.header-part1 a{
	margin-left: 25px;
}
.header-part1 a input{
	margin-top: 30px;
	padding: 10px 20px;
	background-color:white;
	border: 2px solid slateblue;
	border-radius: 10px;
	color:black;
	font-weight: bold;
}
.header-part1 a input:hover{
	margin-top: 30px;
	padding: 10px 20px;
	background-color:slateblue;
	border: 2px solid slateblue;
	border-radius: 10px;
	color: white;
	font-weight: bold;
}

.header-part2{

	}
.header-part2 img{
	margin-top: 50px;
	margin-left: 50px;
}
/* *****************************about part start****************** */
#aboutid{
	margin-top: 120px;
	width: 100%;
	height: auto;
}
.about-part1{
	height: auto;
	width: 100%;
	padding: 0 20%;
	margin: 20px;
}
.box{
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	transition: 0.3s ease;
}
.box:hover{
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
	transform: translateY(-10px);
}
.box a img{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin-top: 20px;

}
.box a{
	position: relative;
}

.box h1 {
	font-size: 25px;
	font-weight: 700;
	color: #000;
	margin-bottom: 10px;
	padding-top: 20px;
}
.box p{
	font-size: 18px;
	font-weight: bold;
	color: gray;
}
.box a input{
	border: 2px solid #50d1c0;
	padding: 2px 4px;
	border-radius: 5px;
	
	
	color:black;
	font-weight: bold;
}
.box a input:hover{
	background-color: #50d1c0;
	color:fff;
}
.box h2 {
	font-size: 20px;
	font-weight: bold;
	color: #2980B9 ;
	margin: 15px 0;
}
.box h2 span{
	background-color: #2980B9 ;
	color: #fff;
	padding: 0 3px;
}
.about-part1 .card .card-img-top {

	border-radius: 50%;
	padding: 10px 20px;
	margin-bottom: 10px;
	
	background-color: #1e5799;
}
.about-part2{
	height: auto;
	width: 100%;
}
.about-part2 h1{
	
	font-weight: bold;
	margin-bottom: 30px;
}
.about-part2 p{
	word-spacing: 0.1em;
	letter-spacing: 0.1rem;
}
.about-part2 a input{
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid  #50d1c0;
	background-color:  #50d1c0;
	color: white;
	font-weight: bold;
	margin-bottom: 100px;
	box-shadow: 5px 5px 15px  #50d1c0;
}
.about-part2 a input:hover{
	border-radius: 10px;
	border: 2px solid  #50d1c0;
	background-color: white;
	color:black;
	font-weight: bold;
	margin-bottom: 100px;
}

/* *************************about part end********************* */
/* ********************* three extradiv start ****************** */
.header-extradiv {
		width: 100%; height:auto;
		margin: 90px 0;
		text-align: center;

}
.extra-div{
	background: #fff;
	border: medium none;
	padding: 20px;
	border-radius: 3px;
	transition: 0.3s;
}
.extra-div h2{
	font-size: 0.9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;

}
.extra-div:hover{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	transform: translateY(-20px);
}
.extra-div p{
	text-align: justify;
}
/* ********************* three extradiv end ****************** */

/* ********************* Services start ****************** */
.serviceoffer{
	background-color: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px; 
}
.heading{
	margin-bottom: 50px;
}
 .heading h1{
 	font-size: 2.9rem;
 	font-weight: 700;
 	text-transform: uppercase;
 }


 .servicediv1
 {
	 margin-top: 0px;
 }
 .servicediv1 h1{
	font-size: 1.2rem;
	margin: 10px 0 5px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;

}
 .servicediv2{
	 margin-top: 100px;
 }
 .servicediv2 h2{
	font-size: 0.9rem;
	margin: 10px 0 5px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;

}


.servicediv1 .service-part1{
	margin: 10px 0;
	
}
.servicediv1 .service-part1 i{
	margin: 5px 0;
}
.servicediv1 .service-part2{
	margin: 10px 0;

}
.servicediv1 .service-part2 i{
	margin: 5px 0;
}
.servicediv1 .service-part3{
	margin: 10px 0;
	
}
.servicediv1 .service-part3 i{
	margin: 5px 0;
}
.servicediv1 .service-4{
	margin: 10px 0;
	
}
.servicediv1 .service-part4 i{
	margin: 5px 0;
}
/* ********************* Services end ****************** */
/* **********************working start************ */
.working-div{
	height: auto;
	width: 100%;
	padding: 50px 0;
	position: relative;
}
.working h1{
	font-size: 3rem;
	font-weight: bold;
	margin-top: 50px;
	

}
.working p{
	font-size: 1.5rem;
	font-weight: bold;
	margin: 10px 0 80px 0;
}

.card-div .card{
	margin: 0 10px;
	overflow: hidden;
}
.card-div .card img{
	filter: grayscale(100%);
	transition: 1s;
	
	
  }
  .card-div .card {
	box-shadow: 1px 2.5px 5px grey;
  }
  .card-div .card:hover {
	box-shadow: 2px 5px 10px grey;
	
  }
  
  .card-div .card a img:hover{
	filter: grayscale(0%);
	


	
  }
/* *********************working end***************** */
/******************contact us start**************/
.contactus{
	height: auto;
	width: 100%;
	padding: 50px 0;
	position: relative;
}
.contactus h1{
	font-size: 3rem;
	font-weight: bold;
	margin: 80px;
	

}

.contactus .contact-part2-div h2{
font-size: 1.3rem;
text-align: left;
font-weight: bold;
}
.contactus .contact-part2-div p{
	text-align: left;
	
}
/******************contact us end*******************/


/* ******************footer start*************** */
.footersection{
	width: 100%;
	height: auto;
	padding: 50px 0 20px 0;
	
	position: relative;
}
.footersection h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
	letter-spacing: 0.1em;
	margin-top: 50px;
	
}
.footersection h2{
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}
.footersection .icon{
	display: flex;
	justify-content:center;
margin: 20px 0;
}
.footersection .icon i{
	margin: 0 20px;
	font-size: 25;
/* transition: 0.2s; */
} 
.footersection .icon i:hover{
	color: black;

}
.footersection p{
	text-align: center;
	margin: 0;
}
/* *********************footer end****************** */

/* ***********************media query******************** */
@media(max-width: 786px){
	.navbar{
		width: 100%;;
		height: auto;
		
		
	}
	.nav-item{
		text-align: center!important;
	}
	
	.header-part1{
	position: relative;
		top: 100px;
		left: 50%;
		transform: translate(-50%,-50%);
	
	}
	.header-part1 h2{
		margin-top: 20px;
		font-size: 1.5rem;
		font-weight: bold;
	}
	
	.header-part1 h1{
		font-size: 2rem;
		font-weight: bold;
	}
	.header-part1 h3{
		font-size: 1rem;
		font-weight: 600;
	}
	.header-part1 input{
		margin-bottom: 20px;
		
		background-color:slateblue;
		border: 1px solid slateblue;
		border-radius: 5px;
		color: white;
		font-weight: bold;
	
	}
	.header-part2{
		display: none;
	}
	.about-part1{
		margin-top: 0px;
		margin-bottom: 50px;
		
	}
	.about-part2 h1{
		font-size: 1.9rem;
		font-weight: bold;
		margin-bottom: 30px;
		text-align: center;
	}
	.servicediv2{
		margin-top: 60px;
		text-align: center;
		
	}
	.servicediv2 h2{
	   font-size: 0.9rem;
	   margin-top: 20px;
	   margin-left: 20px;
	   font-weight: bold;
	   
	   word-spacing: 4px;
	   text-align: center;
   
   }
   .servicediv2 p{
	   text-align: justify;
	   text-align: center;
	   margin-left: 20px;
   }
   .service-icon i{
	   margin-top: 20px;
	   
	   
   }
   .card-div .card{
	margin: 20px 0px;
	overflow: hidden;
}
   .contactus{
	
	padding: 0px 0;
	
}
.working p{
	font-size: 1rem;
	font-weight: bold;
	margin: 10px 0 40px 0;
}
.working h1{
	font-size: 2.5rem;
	font-weight: bold;
	margin-top: 50px;
	

}
.contactus h1{
	font-size: 2.5rem;
	font-weight: bold;
	margin: 80px;
	

}
	
}



/* *********************media query end******************* */

